/* public/css/rick-morty.css */
body {
    background-color: #1e1e1e;
    color: #e0e0e0; 
    font-family: 'Arial', sans-serif; 
}

h1 {
    color: white; 
    text-align: center;
}


.episode-list {
    list-style-type: none; /* Sin viñetas */
    padding: 0;
}

.episode-list li {
    background-color: #333; /* Color de fondo oscuro para los elementos de la lista */
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s ease;
}

.episode-list li:hover {
    background-color: #444; /* Cambia de color al pasar el mouse */
}

.episode-list li a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}



.btn-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Asegura que estén por encima del contenido */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #228b22; /* Fondo verde */
    border: 2px solid #228b22; /* Borde verde */
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    justify-content: center;
}

.btn:hover {
    background-color: #32cd32; /* Cambio de color en hover */
    border-color: #32cd32; /* Cambio de borde en hover */
    transform: scale(1.05);
}
