/* Estilo general para el cuerpo */
body, h1, nav, a, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50; /* Fondo con color más vibrante */
    color: #fff; /* Texto claro */
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    padding: 20px;
    line-height: 1.6;
}

/* Estilo para el título principal */
h1 {
    text-align: center;
    font-size: 3em; /* Tamaño aumentado */
    text-transform: uppercase;
    color: #FFD700; /* Color dorado */
    border-bottom: 2px solid #FFD700; /* Borde dorado */
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra al texto */
}

/* Estilo para el encabezado */
header {
    background-color: #FF4500; /* Fondo naranja */
    padding: 20px; /* Aumento de espaciado */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para el menú de navegación */
nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

nav a:hover {
    background-color: #FFD700; /* Color dorado */
    color: #333; /* Texto oscuro */
}

/* Estilo para la lista de naves espaciales */
#starships-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

#starships-list li {
    background-color: #FF6347; /* Fondo rojo */
    border: 1px solid #FFD700; /* Borde dorado */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

#starships-list li:hover {
    background-color: #FFD700; /* Color dorado */
    color: #333; /* Texto oscuro */
}

/* Estilo para la imagen en el encabezado (opcional) */
header a img {
    max-width: 100px;
    height: auto;
}

/* Estilo para la clase de navegación */
.navegacion {
    text-align: center;
    margin-top: 20px; /* Aumenta el espacio superior */
}
