/* Estilos con fondo negro de galaxia */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000; /* Fondo negro */
}

.content {
    background-image: url('../imagenes/morty.jpg'); /* Ruta relativa a la ubicación del archivo CSS */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.centered {
    text-align: center;
}


.btn-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Asegura que estén por encima del contenido */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #228b22; /* Fondo verde */
    border: 2px solid #228b22; /* Borde verde */
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #32cd32; /* Cambio de color en hover */
    border-color: #32cd32; /* Cambio de borde en hover */
    transform: scale(1.05);
}

/*** css informacion*/
/* Estilos más llamativos con tema espacial */

/* Estilos del contenedor */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Sombra para resaltar el contenedor */
}

/* Estilos de las secciones */
section {
    margin-bottom: 30px;
}

/* Estilos del formulario de encuesta */
#poll-form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4a90e2; /* Azul del espacio */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#poll-form button:hover {
    background-color: #346db4; /* Azul más oscuro al pasar el mouse */
}

/* Estilos de los resultados de la encuesta */
#poll-results {
    margin-top: 10px;
    color: #fff;
}

/* Estilos específicos del texto dentro de los resultados */
#poll-results p {
    font-size: 18px;
    line-height: 1.5;
}

/* Estilos del enlace para ir a la página principal */
.centered a.btn {
    margin-right: 10px; /* Ajuste de margen para separar los enlaces */
}
